*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

header{
    background-color: blue;
    grid-column: 2/7;
}

.sidebar{
    background-color: rgb(26, 126, 201);
    grid-row: 1/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 250px 250px;
    row-gap: 7%;
    padding-left: 10px;
    color: white;
}
.sidebar-heading{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
    justify-content: start;
    gap: 3%;
    
  }
  .sidebar-icon.header {
    height: 40px;
}

.sidebar-main-settings{

}

.sidebar-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: start;
    gap: 6%;
}

.sidebar-icon{
    height: 20px;
    filter: invert(100%)
}

nav > div > div {
    padding-bottom: 7px;
}


main{
background-color: yellow;
grid-column: 2/6;
grid-row: 2/5;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(auto-fill, 1fr);
justify-items: center;
align-items: center;
column-gap: 2%;
row-gap: 2%;
padding: 8px;

}

.main-card{
    background-color: red;
    
}

#rightSection{
    background-color: blueviolet;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 8px;


}
.right-section-child{
background-color: violet;
}